{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
<script src="{% static 'js/simulacao.js' %}"></script>
    <script>

        gsap.to("#bola_rosa", 3, {
            autoRound: true, rotation: -70, scale: 0.05, delay: 3, opacity: 0.2,
            x: -100, y: -120, z: 0,
            yoyo: true,
            repeat: 5
        })

        gsap.to("#image170", 3, {
            delay: 2,
            scale: 0.95,
            rotation: 15,
            ease: Linear.easeOut,
            yoyo: true,
            repeat: -1,
            opacity: 0.2
        })

        const tl = gsap.timeline({ defaults: { duration: 1 } });
        tl.from("#path8256", 3, {x: 300, y: 300, delay: 1, width: 150, scale: 2.1, rotation: 90, fill: "red"})
          .to("#fundo", 3, { fill: "transparent"},"+=0.5" )
          .to("#svg13521", 3, {x:80, scale: 1.3,  border: "nome",}) 
          .to("#black-c, #black-l, #black-a, #black-k, #heart, #path11212, #path8256", 3, {fill: "black", border: "1px"})

    </script>

    </body>
</html>