
<center>
    <h2>MATA-MATA  --  Quartas de Final</h2>
</center>
<form class="fase2grid">
    <div class="cabeca">Primeiro Jogo</div>
    <div class="cabeca">Segundo Jogo</div>
    <div class="cabeca">Penaltis</div>
    <div class="jogo1 row text-center">
        <div class="timem time8 col-12 col-sm-4 ">Flamengo</div>
        <input type="text" class="pl col-12 col-sm-1" placeholder="">
        <input type="text" class="pl col-12 col-sm-1" placeholder="">
        <div class="timef time1 col-12 col-sm-4">Fluninesnse</div>
    </div>
    <div class="jogo2 row text-center">
        <div class="timem time1 col-12 col-sm-4">Flamengo</div>
        <input type="text" class="pl col-12 col-sm-1' placeholder="">
        <input type="text" class="pl col-12 col-sm-1' placeholder="">
        <div class="timef time8 col-12 col-sm-4">Fluninesnse</div>
    </div>
    <div class="penal row text-center ">
        <div class="timem time1 col-12 col-sm-4 ocular_penal">Flamengo</div>
        <input type="text" class="pl col-12 col-sm-1 ocular_penal" placeholder=" ">
        <input type="text" class="pl col-12 col-sm-1 ocular_penal" placeholder=" ">
        <div class="timef time8 col-12 col-sm-4 ocular_penal">Fluninesnse</div>
    </div>

    <div class="jogo1 row text-center">
        <div class="timem time7 col-12 col-sm-4">Flamengo</div>
        <input type="text" class="pl col-12 col-sm-1' placeholder="">
        <input type="text" class="pl col-12 col-sm-1' placeholder="">
        <div class="timef time2 col-12 col-sm-4">Fluninesnse</div>
    </div>
    <div class="jogo2 row text-center">
        <div class="timem time2 col-12 col-sm-4">Flamengo</div>
        <input type="text" class="pl col-12 col-sm-1' placeholder="">
        <input type="text" class="pl col-12 col-sm-1' placeholder="">
        <div class="timef time7 col-12 col-sm-4">Fluninesnse</div>
    </div>
    <div class="penal row text-center ">
        <div class="timem time1 col-12 col-sm-4 ocular_penal">Flamengo</div>
        <input type="text" class="pl col-12 col-sm-1 ocular_penal" placeholder=" ">
        <input type="text" class="pl col-12 col-sm-1 ocular_penal" placeholder=" ">
        <div class="timef time8 col-12 col-sm-4 ocular_penal">Fluninesnse</div>
    </div>

    <div class="jogo1 row text-center">
        <div class="timem time6 col-12 col-sm-4">Flamengo</div>
        <input type="text" class="pl col-12 col-sm-1' placeholder="">
        <input type="text" class="pl col-12 col-sm-1' placeholder="">
        <div class="timef time3 col-12 col-sm-4">Fluninesnse</div>
    </div>
    <div class="jogo2 row text-center">
        <div class="timem time3 col-12 col-sm-4">Flamengo</div>
        <input type="text" class="pl col-12 col-sm-1' placeholder="">
        <input type="text" class="pl col-12 col-sm-1' placeholder="">
        <div class="timef time6 col-12 col-sm-4">Fluninesnse</div>
    </div>
    <div class="penal row text-center ">
        <div class="timem time1 col-12 col-sm-4 ocular_penal">Flamengo</div>
        <input type="text" class="pl col-12 col-sm-1 ocular_penal" placeholder=" ">
        <input type="text" class="pl col-12 col-sm-1 ocular_penal" placeholder=" ">
        <div class="timef time8 col-12 col-sm-4 ocular_penal">Fluninesnse</div>
    </div>


    <div class="jogo1 row text-center">
        <div class="timem time5 col-12 col-sm-4">Flamengo</div>
        <input type="text" class="pl col-12 col-sm-1' placeholder="">
        <input type="text" class="pl col-12 col-sm-1' placeholder="">
        <div class="timef time4 col-12 col-sm-4">Fluninesnse</div>
    </div>
    <div class="jogo2 row text-center">
        <div class="timem time4 col-12 col-sm-4">Flamengo</div>
        <input type="text" class="pl col-12 col-sm-1' placeholder="">
        <input type="text" class="pl col-12 col-sm-1' placeholder="">
        <div class="timef time5 col-12 col-sm-4">Fluninesnse</div>
    </div>
    <div class="penal row text-center ">
        <div class="timem time1 col-12 col-sm-4 ocular_penal">Flamengo</div>
        <input type="text" class="pl col-12 col-sm-1 ocular_penal" placeholder=" ">
        <input type="text" class="pl col-12 col-sm-1 ocular_penal" placeholder=" ">
        <div class="timef time8 col-12 col-sm-4 ocular_penal">Fluninesnse</div>
    </div>


    </center>
</div>